# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env

# Environment variables
.env

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Generated images
*.png
